@charset "utf-8";
/* CSS Document */

a { selector-dummy : expression(this.hideFocus=true);}


body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: "dotum","gulim","Arial";
	font-size: 12px;
	font-style: normal;
	line-height: 14pt;
	color: #666666;
	scrollbar-face-color: #FFFFFF;
	scrollbar-highlight-color: #FFFFFF;
	scrollbar-shadow-color: #CCCCCC;
	scrollbar-3dlight-color: #CCCCCC;
	scrollbar-arrow-color:  #414D97;
	scrollbar-track-color: #FFFFFF;
	scrollbar-darkshadow-color: #FFFFFF;
	background-color: #ffffff;
	
}
img{
    border : 0;
	valign : absmiddle;
}

input
{
    COLOR: #666666;
    FONT-SIZE: 12px;
}

/* text_link css's */

a:link{
	font-size: 12px;
	color: #666666;
	text-decoration: none;
}
a:hover {
	font-size: 12px;
	color: #C30505;
	text-decoration: none;
}
a:visited {
	font-size: 12px;
	color: #333333;
	text-decoration: none;
}
a:active {
	font-size: 12px;
	color:#C30505;
	text-decoration: none;
	}
	


/* line css's */

.B_line1 {
     border-bottom :2px #333740 solid;
}

	 
.B_line2 {
     border-top :2px #333740 solid;
}

.B_line3 {
     border-bottom :2px #333740 solid;
}

.G_line1 {
     border-bottom :1px #e1e1e1 solid;
	 border-top :1px #e1e1e1 solid;
}

.G_line2 {
     border-bottom :1px #e1e1e1 solid;
}



.red_line1 {
     border-bottom :1px #e1e1e1 solid;
	 border-top :2px #de2a2a solid;
}
.red-line2 {
	 border-bottom :2px #de2a2a solid;}
	 
	 

/* input css's */

.text_input
{
    BACKGROUND-COLOR: #f3f4f5;
	BORDER-STYLE:solid;
    BORDER-BOTTOM: #efeff0 1px solid;
    BORDER-LEFT: #efeff0 1px solid;
    BORDER-RIGHT: #efeff0 1px solid;
    BORDER-TOP: #efeff0 1px solid;
    COLOR: #666666;
    FONT-SIZE: 12px;
}

.pass_input
{
    BACKGROUND-COLOR: #ffffff;
	BORDER-STYLE:solid;
    BORDER-BOTTOM: #eaecec 1px solid;
    BORDER-LEFT: #eaecec 1px solid;
    BORDER-RIGHT: #eaecec 1px solid;
    BORDER-TOP: #eaecec 1px solid;
    COLOR: #666666;
    FONT-SIZE: 12px;
}

.check_box
{
    BACKGROUND-COLOR: #FFFFFF;
	BORDER-STYLE:solid;
    BORDER-BOTTOM: #e1e1e1 1px solid;
    BORDER-LEFT: #e1e1e1 1px solid;
    BORDER-RIGHT: #e1e1e1 1px solid;
    BORDER-TOP: #e1e1e1 1px solid;
    COLOR: #666666;
}



/* text css's */
.board01 {
	font-size: 11px;
	color: #666666;
}
.board02 {
	font-size: 12px;
	color: #666666;
}
.board03{
	font-size: 12px;
	color: #666666;
	font-weight: bold;
}

.popup{
	font-size: 11px;
	color: #ff9900;
}

